# deps
node_modules/

# build/env
/out/
/build/
/public/
## I know hugo recommends checking this in, but it hurts to do
/resources/_gen
.netlify/
.next/
.vercel/
*.local
*.pem

# spam
.DS_Store
*.log
