.GalleryContainer {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 20px;

  &::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  > :first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  .Article {
    display: flex;

    flex-flow: column nowrap;

    //background: lime;
    grid-row: 1 / span content;
    grid-column: 1 / span all;

    .TitleRow {
      display: flex;
      flex-flow: row nowrap;

      padding-bottom: 6px;
      border-bottom: 1px solid var(--foreground-color);
      margin-bottom: 15px;

      h1 {
        margin: 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
      }

      h2 {
        margin: 0;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        padding-left: 10px;
      }

      button {
        border: none;
        background: none;
        font: inherit;
        color: inherit;

        margin-left: 10px;
      }
    }
  }
}

.GalleryItem {
  --overlay-height: 56px;

  display: flex;
  flex-flow: column wrap;

  box-shadow: 0 1px 2px rgba(black, .25);

  background: darkslateblue;
  color: white;

  cursor: pointer;

  &:hover, &:focus {
    text-decoration: none;
  }

  justify-content: center;
  align-content: center;
  overflow: hidden;

  &.Wide {
    //grid-column-end: span 2;
  }

  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
  }

  .ItemOverlayContainer {
    position: relative;
    width: 100%;
    height: 0;
    bottom: var(--overlay-height);

    .ItemOverlay {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;

      padding: 7px 15px 15px 15px;

      justify-content: center;
      align-items: flex-end;

      background: linear-gradient(to bottom,
              rgba(black, 0),
              rgba(black, .15) 20%,
              rgba(black, .45) 60%,
              rgba(black, .75) 90%
      );

      min-height: var(--overlay-height);

      label {
        font: inherit;
        flex: 1 0;

        cursor: inherit;
      }

      button {
        font: inherit;
        color: inherit;
        border: none;
        background: none;

        cursor: inherit;
      }
    }
  }
}
