<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
  <meta charset="utf-8"/>
  <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
  />

  <link rel="stylesheet" href="{{ (resources.Get "style.scss" | resources.ToCSS (dict "transpiler" "dartsass")).RelPermalink }}" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet" />

  <title>{{ block "title" . }}
    {{ with .Title }}
      {{ . }} &mdash; 
    {{ end }}
  {{ end }}
    {{ .Site.Title }}
</title>

</head>
<body>
  <div class="page-container">
    {{ partial "header" . }}

    <main>
      <header>
        <h1>{{- .Page.Title | default (printf "%s (%s)" "untitled" (.File.TranslationBaseName | title)) -}}</h1>
        {{ block "header" . }}
          {{- with .Page.Params.subtitle -}}
            <span>{{ . }}</span>
          {{ end -}}
        {{- end }}
      </header>

      {{ block "main" . }}
        <h3>No content</h3>
      {{ end }}
    </main>

  </div>

</body>
</html>
