@use './content' as content;

.page-container {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  align-self: stretch;

  max-width: 896px;
  padding: 0 40px;
  margin: 0 auto;

  align-items: stretch;
}

main {
  @include content.text-content;

  display: flex;
  flex-flow: column nowrap;
  flex: 1 0;

  header:first-child {
    display: flex;

    margin: 72px 0 52px 0;
    flex-flow: column nowrap;
    position: sticky;
    top: 0;

    // background: linear-gradient(180deg,
    //         rgba(var(--background-color-rgb), 1) 20px,
    //         rgba(var(--background-color-rgb), .5) 95%,
    //         rgba(var(--background-color-rgb), 0)
    // );
    background: rgba(var(--background-color-rgb), .8);
    backdrop-filter: blur(15px);

    h1 {
      margin: 0;

      font-weight: 600;
      font-size: 36px;
      line-height: 38px;
    }

    small {
      margin-top: 7px;

      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
    }
  }

  article {
    text-align: justify;
    max-width: 768px;
  }
}
