.sidebar-container {
  height: 100vh;
  //background: red;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-flow: column nowrap;

  padding: 20px 10px 20px 20px;
}

.title-section {
  flex-grow: 0;

  display: flex;
  flex-flow: row nowrap;

  > a {
    color: #0086ff;
  }

  h1 {
    color: var(--foreground-color);

    margin: 0;
    flex: 1 0;
    white-space: nowrap;

    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }

  .line-container{
    flex-grow: 1;

    min-width: 48px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: flex-end;

    hr {
      flex-grow: 1;

      min-width: 2px;
      border: 1px solid var(--foreground-color);
      margin-left: 10px;

      &.plain-border {
        border-color: var(--foreground-color);
      }
    }

    .back-link {
      flex: 0 0;
      margin-left: 8px;

      display: flex;
      vertical-align: middle;
      align-items: center;
      justify-content: center;

      color: var(--accent-color);
      font-size: 24px;
      font-weight: bold;

      svg {
        vertical-align: middle;
  
        height: 16px;
  
        path {
          fill: var(--accent-color);
        }
      }
    }
  }
}

.social-section {
  flex: 0 0;
  align-self: flex-start;
  padding-top: 20px;

  display: flex;
  flex-flow: row wrap;


  &:hover a {
    opacity: .5;
  }

  a {
    color: inherit;
    transition: opacity .1s ease;

    &:hover {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    svg {
      vertical-align: middle;

      width: 24px;
      height: 24px;

      path {
        fill: var(--foreground-color);
      }
    }
  }
}

.nav-section {
  flex: 0 0;
  padding-top: 10px;

  display: flex;
  flex-flow: column nowrap;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;

      a {
        color: #0086ff;

        span {
          color: var(--foreground-color);
        }
      }
    }
  }
}
