---
import * as React from 'react';
import Article from '../Article.astro'
import PlaygroundComponentDemo from '../../components/PlaygroundDemo/ComponentDemo.tsx'

const {
	title = Astro.props.content?.title || 'Untitled page',
	subtitle = Astro.props.content?.subtitle,
} = Astro.props

const {
	url: {
		/**
		 * @example `/playground/input`
		 */
		pathname,
	}
} = Astro.request
---

<Article title={title}>
	<slot />

	<section class="component-demo">
		<h2>Component Demo</h2>
		<PlaygroundComponentDemo client:visible importPath={Astro.resolve(`../../../components${pathname}/index.js`)} />
	</section>
</Article>

<style lang="scss">
	@use '../../assets/colors' as colors;

	.component-demo {
		font-family: var(--font-sans-serif);

		background: #E7F3FE;
		border-radius: 12px;
		padding: 14pt 12pt 24px 12pt;
		margin-top: 24pt;

		display: flex;
		flex-flow: column nowrap;

		justify-content: center;
		align-items: center;

		h2 {
			font-size: .9rem;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 2px;

			margin: 4pt 0 12pt 0;

			color: darken(desaturate(colors.$accent, 50%), 10%);
		}
	}
</style>
