<header class="header-container">
	<div class="title-section">
		<a href="/">
			<h1>{{ .Site.Title }}</h1>
		</a>
	</div>
	<div class="line-container">
		<!-- <hr aria-hidden="true" /> -->
	</div>
	<nav class="nav-section">
		<ul>
    	{{ range union (where site.RegularPages "File.Dir" "/") site.Sections }}
				<li>
					<a href="{{ .RelPermalink }}">
						<span>{{ .Title | default .File.TranslationBaseName }}</span>
					</a>
				</li>
			{{ end }}
		</ul>
	</nav>
	<div class="social-section">
		{{ range site.Params.socials }}
			<a href="{{ .url }}" target="_blank">
				{{ partial "inject" (printf "/static/icons/%s.svg" (.site | lower)) }}
			</a>
		{{ end }}
	</div>
</header>
