$background: #ffffff;

$primary-a: #000000;

$primary-inverted-a: #ffffff;

$secondary-a: #9d9d9d;
$secondary-b: #7a7a7a;
$secondary-l: #dadada;
$secondary-ul: #f7f7f7;

$accent: #650bda;
$accent-light: #a866ff;
$accent-dark: #4800a6;

:root {
	--background: #{$background};
	--background-rgb: #{hexToRGB($background)};

	--primary-a: #{$primary-a};

	--secondary-a: #{$secondary-a};
	--secondary-b: #{$secondary-b};
	--secondary-l: #{$secondary-l};
	--secondary-ul: #{$secondary-ul};

	--accent: #{$accent};
	--accent-light: #{$accent-light};
	--accent-dark: #{$accent-dark};
	--accent-rgb: #{hexToRGB($accent)};
}

@function hexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}
