---
export interface Props {
	publishDate?: Date;
	footnotes?: { [key: string]: string };
}

import WidthContainer from '$utils/WidthContainer.astro';

// get the current year (this runs at build time and passes into component to be statically generated)
const currentYear = new Date().getFullYear()

const {
	publishDate,
	footnotes
}: Props = Astro.props
---

<footer class="pageFooter">
	<div class="pageInset">
		<WidthContainer>
			{publishDate && (
				<p>
					This page was published
					{publishDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' })}.
				</p>
			)}
			
			<p>
				&copy; {currentYear.toString()} Haden Fletcher. All rights reserved.
			</p>
		</WidthContainer>
	</div>
</footer>

<style lang="scss">
.pageFooter {
	margin-top: 32px;

	padding-top: 32px;
	padding-bottom: 32px;

	padding-left: var(--content-inset);
	padding-right: var(--content-inset);

	background: var(--secondary-ul);
	color: var(--secondary-b);
	font-weight: 500;
	font-size: 14px;

	p:last-child {
		margin-bottom: 0;
	}
}

.separator {
	margin-bottom: 32px;

	display: flex;

	border: 0;
	border-bottom: 1px solid var(--secondary-a);

	height: 1px;
	padding: 0;
}
</style>
