---
export interface Props {
	publishDate?: Date;
	footnotes?: { [key: string]: string };
}

import WidthContainer from '$utils/WidthContainer.astro';

// get the current year (this runs at build time and passes into component to be statically generated)
const currentYear = new Date().getFullYear()

const {
	publishDate,
	footnotes
}: Props = Astro.props
---

<footer class="pageFooter">
	<div class="pageInset">
		<WidthContainer>
			<div class="contentInset">
				{publishDate && (
					<p>
						This page was published
						{publishDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}.
					</p>
				)}
				
				<p>
					&copy; {currentYear.toString()} Haden Fletcher. All rights reserved.
				</p>
			</div>
		</WidthContainer>
	</div>
</footer>

<style lang="scss">
.pageFooter {
	margin-top: 32px;

	padding-top: 32px;
	padding-bottom: 32px;

	background: var(--secondary-ul);
	color: var(--secondary-b);
	font-weight: 500;
	font-size: 14px;

	p {
		margin-bottom: 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media screen and (max-width: 768px) {
		padding-top: 24px;
		padding-bottom: 24px;

		p {
			margin-bottom: 8px;
		}
	}
}

.separator {
	margin-bottom: 32px;

	display: flex;

	border: 0;
	border-bottom: 1px solid var(--secondary-a);

	height: 1px;
	padding: 0;
}
</style>
