---
import Navigation, { Props as NavigationProps } from './Navigation.astro'

const navItems: NavigationProps['items']  = [
	// {
	// 	link: '/posts',
	// 	text: 'Posts',
	// },
	{
		link: '/playground',
		text: 'Playground',
	},
]
const externalLinks = [
	// {
	// 	icon: 'linkedin',
	// 	alt: 'Connect on LinkedIn',
	// 	url: 'https://linkedin.com/in/hadenpf',
	// },
	{
		icon:  'github',
		alt: 'Follow me on GitHub',
		url: 'https://github.com/hadenpf',
	},
	{
		icon:  'twitter',
		alt: 'Follow me on Twitter',
		url: 'https://twitter.com/hadenpf',
	},
	{
		icon:  'email',
		alt: 'Send me an email',
		url: 'mailto:haden@hadenpf.com',
	},
]
---

<header>
	<div class="title">
		<a href="/" aria-label="Go to home page">
			Haden Fletcher
		</a>
	</div>

	<Navigation items={navItems} />
</header>

<style lang="scss">
	header {
		position: sticky;
		top: 0;
		left: 0;
		right: 0;

		display: flex;
		flex-flow: row nowrap;
		margin: 40px 0 0 0;

		font-family: var(--font-sans-serif);

		@media print {
			flex-direction: column;
			margin-top: 0;
		}

		.title {
			flex-grow: 0;

			display: flex;
			flex-flow: row nowrap;

			color: var(--foreground-color);

			margin: 0;
			flex: 1 0;
			white-space: nowrap;

			font-size: 20pt;
			font-weight: 600;
			line-height: 28px;
			letter-spacing: -.3px;

			> a {
				text-decoration-color: var(--accent-color);
			}
		}
	}
</style>
